//-
	---------------------------------------------------------
	ページ共通の変数を定義
	---------------------------------------------------------
block setVar
	- var pageUrl
	- var layout
	- var bodyAttributes = {}
include ../_function/_create_dir_array

//-
	---------------------------------------------------------
	html
	---------------------------------------------------------
doctype html
html(lang="ja")
	include _head
	body&attributes(bodyAttributes)
		//#include virtual="/_inc/gtm_body.html"

		//-
			---------------------------------------------------------
			ヘッダー
			---------------------------------------------------------
		if layout !== 'map'
			//#include virtual="/_inc/header.html"

		div#contents
			//-
				---------------------------------------------------------
				コンテンツ
				---------------------------------------------------------
			main#main
				if layout !== 'home'
					include /_pug/_inc/_breadcrumbs
				block main

			//-
				---------------------------------------------------------
				フッター
				---------------------------------------------------------
			//#include virtual="/_inc/footer.html"

		//-
			---------------------------------------------------------
			Javascript
			---------------------------------------------------------
		block scriptBefore
		//#include virtual="/_inc/script.html"
		block script
